{% extends 'main/base.html.twig' %}
{% use 'main/footer.html.twig' %}

{% block title %}
    Shop4Website
{% endblock %}

{% block body %}
    <div class="content-block" id="header">
        <div id="overlay-1">
            <header id="site-header" class="clearfix">
                <div class="pull-left">
                    <h1><a href="/" style="font-family: sans-serif">Shop4Dev</a></h1>
                </div>
                <div class="pull-right">
                    <nav class="navbar site-nav" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <i class="fa fa-bars fa-2x"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/#header"><i class="fa fa-home"></i> <span>Home</span></a></li>
                                <li><a href="/#portfolio"><i class="fa fa-bookmark"></i> Portfolio</a></li>
                                <li><a href="/#services"><i class="fa fa-bullhorn"></i> About Us</a></li>
                                {#<li><a href="#testimonials"><i class="fa fa-thumbs-up"></i> Tetimonials</a></li>#}
                                <li><a href="/#testimonials"><i class="fa fa-eur"></i> Pricing</a></li>
                                <li><a href="/#contact"><i class="fa fa-phone-square"></i> Contact</a></li>
                                <li><a href="#"><i class="fa fa-user"></i> Client Area</a></li>
                            </ul>
                        </div>  <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </header>	<!-- site-header -->


        </div>  <!-- overlay-1 -->
    </div>  <!-- content-block -->

    <div class="content-block" id="testimonials">
        <header class="block-heading cleafix text-center" style="margin-bottom: 30px;">
            <h1 style="font-size: 35px; margin-top: 20px">Build Your Site</h1>
            <!-- <p>Lorem Ipsum Text</p> -->
        </header>
        <div class="block-content text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" style="padding-right: 0">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Categories</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    {% for cat in cats %}
                                    <tr id="cat{{ cat.id }}">
                                        <td>
                                            {{ cat.name }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="/shop" class="btn btn-success" role="button">Customize Your Site</a></div>
                        </div>
                    </div>
                    <div class="col-sm-9"  style="padding-left: 0">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Modules</h3>
                            </div>
                            <div class="panel-body">
                                <div class="the-price">
                                    <h1>
                                        <span style="font-size: 25px">From </span> 30€</h1>
                                    {#<small>1 month FREE trial</small>#}
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            Free Page Design
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            Customisable
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            100+ Modules Available
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            Free Hosting
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Support 24/7
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            Monthly SEO Reviews
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="/shop" class="btn btn-success" role="button">Customize Your Site</a></div>
                        </div>
                    </div>
                </div>	<!-- row -->
            </div>	<!-- container -->
        </div>	<!-- block-content -->
    </div>	<!-- content-block -->
{% endblock %}

{% block scripts %}
    <script src="{{ asset('main/js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('main/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('main/js/jquery.actual.min.js') }}"></script>
{% endblock %}